body {
  font-family: "Arial", sans-serif;
  color: red;
  margin: 0; /* Reset default body margin */
}

.background {
  background-image: url("https://images.pexels.com/photos/175753/pexels-photo-175753.jpeg?auto=compress&cs=tinysrgb&w=1200");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
}

.restaurantContainer {
  /* margin-top: 5%; */
  padding: 0 5%; /* Adjust padding for the desired buffer */
  width: 100%;
}

.restaurantCard {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 2%; /* Add margin between cards */
  width: calc(100% - 30px); /* Calculate width to consider padding and margin */

  margin-left: auto; /* Center the card within the container */
  margin-right: auto;
  background-color: white;
}

.restaurantCard:hover {
  transform: scale(1.05);
}

.name,
.description {
  padding: 0px;
  margin: 0px;
}

.rating,
#open,
#price {
  font-weight: bold;
  margin-right: 10px; /* Add space between elements */
}

.infoRow {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if the content doesn't fit in one row */
  justify-content: space-evenly;
}

#open {
  font-weight: bold;
}

#hours {
  margin-top: 10px;
}

#hours div {
  margin-bottom: 5px;
}

#price {
  font-weight: bold;
}

.description {
  font-size: 14px;
}

strong {
  font-weight: bold;
  cursor: pointer;
}

strong:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(141, 182, 197);
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-size: 1em;
  height: auto;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 10px;
}

.navLinks a:hover {
  text-decoration: underline;
}

.search-restaurant {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* margin-right: 5px; Reduced margin for closer positioning */
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.header a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 10px;
}

.header a:hover {
  text-decoration: underline;
}

.background {
  background-image: url("https://images.pexels.com/photos/175753/pexels-photo-175753.jpeg?auto=compress&cs=tinysrgb&w=1200");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  min-height: 100vh;
  min-width: 100vw;
}
